*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: #0E5898;
  color: #297FCA;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.content {
  margin: 0 auto;
  width: 600px;
  background-color: #FBFBFB;
  text-align: center;
}

.header {
  font-weight: 300;
  padding: 40px 0 20px 0;
}

.quote {
  font-weight: 100;
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

.author {
  width: 400px;
  margin: 0 auto;
  text-align: right;
  padding: 20px 0;
}

.new-quote {
  margin: 50px 0 20px 0;
  padding: 10px 10px;
  background: #0E5898;
  color: #FBFBFB;
  outline: none;
  border: hidden;
  border-radius: 4px;
}

.share-label {
  font-weight: 300;
  text-align: center;
}

.share-links {
  padding: 0 0 30px 0;
}
